[Desktop Entry]
Name=UMU dot desktop creator
Exec=umu-ddc %f
Icon=applications-games
MimeType=application/x-ms-dos-executable;application/x-msi;
Type=Application
StartupNotify=false
Terminal=false
NoDisplay=true
